---
interface Props {
  className?: string;
  hover?: boolean;
}

const { className = '', hover = true } = Astro.props;
---

<div class={`rounded-sm bg-paper-light p-6 card-shadow ${hover ? 'cursor-pointer' : ''} ${className}`}>
  <slot />
</div>
